
<section id='sect_imgclm'>
	<h1>Bienvenido</h1>
	<img src='img/clmdescubreysiente.jpg' alt='Mapa Castilla-La Mancha'/>
</section>

<section id='sect_bienvenida'>
	<p>Vamos a realizar un paseo por Castilla-La Mancha.</p> 

	<p>Podrás conocer más a fondo, Una tierra enclavada en el corazón de la Península Ibérica, que se transforma a lo largo y ancho de sus cinco provincias: Albacete, Ciudad Real, Cuenca, Guadalajara y Toledo, para ofrecer un recorrido por su inmenso patrimonio cultural, sus espectaculares espacios naturales, su deliciosa gastronomía, sus ancestrales fiestas populares y su delicada artesanía.</p>

	<p>¡Entra y disfrútala!.</p>

	<aside>
			<!--Widgets Sociales, para  insertar los botones de redes sociales e interactuar en ellas-->
			<!--Twitter-->
			<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
			<!--Este código lo generamos desde la propia web de twitter, en la sección 'Recursos'--'Botones'-->
			<a href="https://twitter.com/intent/tweet?screen_name=nute75" class="twitter-share-button" data-lang="es" data-related="nute75">Tweet to @nute75</a>


			<!--El globito CONTADOR muestra las visitas de la URL especificada en "data-url" -->

			<a href="https://twitter.com/nute75" class="twitter-follow-button" data-show-count="false" data-lang="es">Seguir a @nute75</a>
			</br>

			<!--Facebook--vamos a incluir el boton me gusta de la pag facebook de mi pagina X-->
			<!--Para incrustar el face usaremos un DIV, aq deberiamos de ir dejando de usarlas, y hacerlo con las section, article etc etc del HTML5 -->

			<!-- Facebook -->
			<div id="fb-root"></div>
			<script src="http://connect.facebook.net/es_LA/all.js"></script>
			<fb:like href="http://www.facebook.com/bextlan" send="false" layout="box_count" show-faces="false" font="tahoma"></fb:like>


			<div class="icons" style="bottom: 30px; right: 1px;">
				
				<a target="_blank" href="http://www.facebook.com/c2cero">
					<img src="img/facebook.png"
				    alt="Facebook" title="Seguirnos en Facebook">
				</a>

				<a target="_blank" href="http://twitter.com/c2cero">
					<img src="img/twitter.png"
				    alt="Twitter" title="Seguirnos en Twitter">
				</a>
			</div>

	</aside>

</section>


