<h1>Lugares</h1>
<section class="video-capital">
		<h3><%- Lang.albacete %></h3>
		<iframe width="460" height="315" src="http://www.youtube.com/embed/DGl7SRkRXVs" frameborder="0" allowfullscreen></iframe>
</section>

<section class="video-capital">
		<h3><%- Lang.ciudadReal %></h3>
		<iframe width="460" height="315" src="http://www.youtube.com/embed/jywY7Lg9E5o" frameborder="0" allowfullscreen></iframe>	
</section>

<section class="video-capital">
		<h3><%- Lang.cuenca %></h3>
		<iframe width="460" height="315" src="http://www.youtube.com/embed/dn7odwv-2Q4" frameborder="0" allowfullscreen></iframe>			
</section>

<section class="video-capital">
		<h3><%- Lang.guadalajara %></h3>
		<iframe width="460" height="315" src="http://www.youtube.com/embed/G1z05YzXel8" frameborder="0" allowfullscreen></iframe>
</section>

<section class="video-capital">
		<h3><%- Lang.toledo %></h3>
		<iframe width="460" height="315" src="http://www.youtube.com/embed/s9oooQ26WBo" frameborder="0" allowfullscreen></iframe>
</section>